* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/* common  */
.topbar{
    width: 100%;
    
}

aside  {
    width: calc((100%/5) - 20px);

}

.content {
    width: calc((100%/5)*3 - 20px);

}
.topbar ,
aside ,
.content {
    float: left;
    background-color: lightblue;
    margin: 10px 10px;
    padding: 10px;

}

body {
    width: 80%;
}

/* /common */

/* box */

header {
    height: 100px;
    background-color: fuchsia;
    margin: 15px auto;
}

footer{
    height: 50px;
    background-color: purple;
    margin: 15px auto;
}

.box{
    height: 400px;
    background-color: goldenrod;
    margin-bottom: 15px ;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: blue;
}
 
.clearfix{
    content: "";
    display: table;
    clear: both;
}